.pricing {

    &_hero {
        h1 {
            font-size: 28px;
            line-height: 36px;
            color: $color-heading-alt;
        }
    }
    &_table {
        
        &-row {
            border-bottom: 1px solid $color-text;

        }
        &-link {
            color: $color-brand-one;

            p{
                text-decoration: underline;
                font-weight: $font-weight-bold;
            }
        }
    }
}